<div class="container">
  <div class="col-md-10 game_show">
    <h1>{{game.title}}</h1>
    <p>{{game.description}}</p>
    <img class="game_image" src="{{game.imagePath}}"></img>
    {{# if user.admin }}
    <a href="/games/{{game._id}}/edit" type="submit" class="btn btn-primary">Edit</a>
    {{/if}}
    <form action="/games/{{game.id}}" method="post">
      <p>Immersion</p>
      <input id="immersion" data-slider-id='immersionSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value=""/>
      <p>Visuals</p>
      <input id="visuals" data-slider-id='visualsSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value=""/>
      <p>Sound</p>
      <input id="sound" data-slider-id='soundSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value=""/>
      <p>Gameplay</p>
      <input id="gameplay" data-slider-id='gameplaySlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value=""/>
      <p>Interaction</p>
      <input id="interaction" data-slider-id='interactionSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value=""/>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.3/bootstrap-slider.min.js" integrity="sha256-kPeeHHjF5O/nXuHuCjJCxIiOvdyW5UHeKzd2qon3oAw=" crossorigin="anonymous"></script>

<script>
$('#immersion').slider({
	formatter: function(value) {
		return 'Current value: ' + value;
	}
});
</script>
<script>
$('#immersion').data('slider').getValue(function (value) {
  console.log(value);
});
</script>
<script>
$('#visuals').slider({
	formatter: function(value) {
		return 'Current value: ' + value;
	}
});
</script>
<script>
$('#sound').slider({
	formatter: function(value) {
		return 'Current value: ' + value;
	}
});
</script>
<script>
$('#gameplay').slider({
	formatter: function(value) {
		return 'Current value: ' + value;
	}
});
</script>
<script>
$('#interaction').slider({
	formatter: function(value) {
		return 'Current value: ' + value;
	}
});
</script>
<script>
$('#immersion').slider({
	formatter: function(value) {
		return 'Current value: ' + value;
	}
});
</script>
